[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
pydantic = "*"
pingouin = "*"
seaborn = "*"
ipykernel = "*"
scikit-learn = "*"
scipy = "*"
pandas = "*"
matplotlib = "*"
statsmodels = "*"
fastapi = "*"
gradio = "*"

[dev-packages]

[requires]
python_version = "3.11"
